@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin box-shadow($val: -2px) {
    box-shadow: 0 1rem 2rem rgba($black, 0.15);
    transform: translateY($val);
}

@mixin text-gradient {
    display: inline-block;
    background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == tablet-portrait {
        @media (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == large-desktop {
        @media (min-width: 112.5em) {
            @content;
        }
    }
}
