.section-about {
    background-color: $light-gray-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($primary-color-light, 0.7), rgba($primary-color-dark, 0.7)),
        url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $light-gray-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-testimonials {
    padding: 15rem 0;
    position: relative;
}

.section-booking {
    padding: 15rem 0;
    background: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
}

.book {
    background-image: linear-gradient(105deg, rgba($white, 0.9) 0%, rgba($white, 0.9) 50%, transparent 50%),
        url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.25);

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}
